/* Reseta a pagina */
*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Cute Notes";
    src: url(./font/Cute\ Notes.ttf);
}

/* Estiliza todos os paragrafos */
p{
    color: blue;
}

/* Estiliza toda a classe caixa-texto */
.caixa-texto{
    /* background-color: bisque; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgbBo8pAFktLjJo8Ew4WblSZ11l7sNTmlLEQ&s");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
    height: 400px;
    width: 500px;
}

/* Estiliza somente o paragrafo da classe */
/* Se quiser pegar somente os filhos diretos, colocar um > antes da tag desejada */
/* Caso queira pegar mais de um elemento por vez, utilizar "," para separar */
.caixa-texto p {
    color: palegreen;
    font-size: 30px;
    font-family: "Cute Notes", Arial, Arial, Helvetica, sans-serif;;

}
margin{
     z-index: 999x;  ;/* Camadas */
     margin: -100px; /*Espaçamento externo com outros eleentos*/
     padding: 10px;
     border: 5px solid red;
     border: 5x C q;
     border-radius: 20px;
     
}

/* :hover é quando o mouse passa em cima */
p:hover {
}
